- const IMAGE_PATH_1X = '/img/moon-phases-26-240.min.jpg';
- const IMAGE_PATH_2X = '/img/moon-phases-26-480.min.jpg';

div
  figure
    img(
      alt=(illumination > 0 ? `${phase} (${illumination}% illumination)` : phase)
      src=`${IMAGE_PATH_1X}`
      srcset=`${IMAGE_PATH_1X} 1x, ${IMAGE_PATH_2X} 2x`
      frame=frame
      ready=(ready ? '' : false)
    )
