- const title = "Moonrise, Moonset, Moon Phase"
- const description = "Location-based moon phase, moonrise, moonset, sunrise, and sunset."

doctype html
html(lang="en-GB")
  head
    title= title
    meta(charset="utf-8")
    meta(name="description" content=description)    
    meta(name="viewport" content="width=device-width,initial-scale=1")
    meta(name="apple-mobile-web-app-capable" content="yes")
    meta(name="apple-mobile-web-app-title" content="Moon")
    link(rel="preload" href="https://assets.gauslin.com/fonts/AvenirNext-Variable.woff2" as="font" type="font/woff2" crossorigin="crossorigin")
  body
    div.progress-bar
    header.header
      h1.header__title
        a.header__link(href="/" title="Today")
      user-location.location
    div.charts
      div.charts__frame
        chart-axes.chart
        donut-chart.chart(name="sun" color="#f8c537")
        donut-chart.chart(name="moon" color="#fff")
        moon-photo.photo
    moon-info.info
    prev-next.nav(direction="prev")
    prev-next.nav(direction="next")
    footer.footer
      p.copyright
        span.copyright__years
        a.copyright__owner(
          href="https://gauslin.com",
          title="Ben Gauslin’s Website",
          target="_blank",
          rel="noopener",
        )
