- const title = "Moonrise, Moonset, Moon Phase"
- const description = "Geolocation-based moon phase, moonrise, and moonset"

doctype html
html(lang="en-GB")
  head
    title= title
    meta(charset="utf-8")
    meta(name="description" content=description)    
    meta(name="viewport" content="width=device-width,initial-scale=1")
    meta(name="apple-mobile-web-app-capable" content="yes")
    meta(name="apple-mobile-web-app-title" content="Moon")
    link(rel="preload" href="https://assets.gauslin.com/fonts/AvenirNext-Variable.woff2" as="font" type="font/woff2" crossorigin="crossorigin")
  body
    header.header
      h1.header__title
        a.header__link(href="/" title="Today")= title
    main.content
    footer.footer
      p.copyright
        span.copyright__years © 2018
        a.copyright__owner(
          href="https://gauslin.com",
          title="Ben Gauslin’s Website",
          target="_blank",
          rel="noopener",
        ) Ben Gauslin
