- const title = "Moonrise, Moonset, Moon Phase"
- const description = "Geolocation-based moon phase, moonrise, and moonset"
- const shortTitle = "Moon"
- const currentYear = new Date().getFullYear()

doctype html
html(lang="en-GB")
  head
    title= title
    meta(charset="utf-8")
    meta(name="apple-mobile-web-app-capable" content="yes")
    meta(name="apple-mobile-web-app-title" content=shortTitle)
    meta(name="description" content=description)
    meta(name="theme-color" content="#000")
    meta(name="viewport" content="width=device-width,initial-scale=1,viewport-fit=cover")
    link(rel="apple-touch-icon" href="/apple-touch-icon.png")
    link(rel="manifest" href="/pwa/manifest.json")
    link(
      rel="preload"
      href="https://assets.gauslin.com/fonts/AvenirNext-Variable.woff2"
      as="font"
      type="font/woff2"
      crossorigin="crossorigin"
    )
  body(no-js no-touch)
    header
      h1
        a(href="/" title="Today")= shortTitle
    main
      noscript Please <a href="https://www.enable-javascript.com/" title="How to enable JavaScript in your browser">enable JavaScript</a> to view this app.
      moon-charts
      moon-info
    nav
      user-location(default="New York, NY")
      prev-next(direction="prev")
      prev-next(direction="next")
    moon-app
    app-today(selector="header h1, #phase, #percent")
    .progress-bar
