moon-photo.photo
donut-chart(name="sun" color="#f8c537")
donut-chart(name="moon" color="#fff")
svg(viewbox=`0 0 ${viewbox} ${viewbox}` aria-hidden="true")
  each group in groups
    g(id=group.id)
      each line in group.lines
        - const {x1, y1, x2, y2, transform} = line
        line(
          x1=x1 y1=y1
          x2=x2 y2=y2
          transform=(transform ? transform : false)
        )
