moon-photo.photo
donut-chart(name="sun" color="#f8c537")
donut-chart(name="moon" color="#fff")
svg(
  viewbox=`0 0 ${viewbox} ${viewbox}`
  aria-hidden="true"
)
  each group in groups
    g(id=group.id)
      each line in group.lines
        line(
          x1=line.x1
          y1=line.y1
          x2=line.x2
          y2=line.y2
          transform=(line.transform ? line.transform : false)
        )
